{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
<div class="col-md-4 offset-md-4">
    <!-- la tarjeta card -->
    <div class="card"><!-- tarjeta -->
        <div class="card-body"> 
          <form action="/editarCliente/" method="POST"> {% csrf_token %}<!-- formulario -->
            
            <div class="form-group">
              <input type="number" id="txtcodigo" name="txtcodigo" class="form-control"
              value="{{ misclientes.id_cliente }}" required >
            </div>

            <div class="form-group py-3">
              <input type="text" id="txtnombre" name="txtnombre" class="form-control"
              value="{{ misclientes.nombre }}"  maxLength="100" required >
            </div>

            <div class="form-group py-3">
              <input type="email" id="txtemail" name="txtemail" class="form-control"
              value="{{ misclientes.email }}"  maxLength="50" required >
            </div>

            <div class="form-group py-3">
              <input type="number" id="numedad" name="numedad" class="form-control"
              value="{{ misclientes.edad }}" required >
            </div>

            <div class="form-group py-3">
              <input type="text"  id="txtsexo" name="txtsexo" class="form-control"
              value="{{ misclientes.sexo }}" required >
            </div>

            <div class="form-group py-3">
              <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
              value="{{ misclientes.direccion }}" required >
            </div>

            <div class="form-group py-3">
              <input type="number" id="numcel" name="numcel" class="form-control"
              value="{{ misclientes.num_cel }}" required >
            </div>

            <div class="form-group py-2">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form> <!-- formulario -->
        </div>

    <!-- fin la tarjeta card -->
</div> <!-- columna -->

</div> <!-- la fila -->
{% endblock %}
