{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
    <div class="row"><!-- la fila -->

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
            <h1> Registrador</h1>
            <div class="card"><!-- tarjeta -->
              <div class="card-body"> 
                <form action="/registrarCliente/" method="POST"> {% csrf_token %}<!-- formulario -->

                  <div class="form-group">
                    <input type="number" id="txtcodigo" name="txtcodigo" class="form-control"
                    placeholder="Codigo Cliente" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Cliente"  maxLength="100" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="email" id="txtemail" name="txtemail" class="form-control"
                    placeholder="Email Cliente"  maxLength="50" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="number" id="numedad" name="numedad" class="form-control"
                    placeholder="Edad Cliente" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="text"  id="txtsexo" name="txtsexo" class="form-control"
                    placeholder="Sexo Cliente" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Direccion Cliente" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="number" id="numcel" name="numcel" class="form-control"
                    placeholder="Numero Celular Cliente" required >
                  </div>

                  <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>

                </form> <!-- formulario -->
              </div>
            </div><!-- tarjeta -->
        </div><!-- columna izquierda -->
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!-- columna derecha -->
          <img class="w-50" src="{% static 'img/Clientes.png' %}" width="400" height="400" alt="Clientes">
            <h1>Listado de clientes</h1>
            <div class="table-responsive"><!-- tabla responsiva -->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Celular</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in misclientes %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.id_cliente }}</td>
                        <td>{{ m.nombre }}</td>
                        <td>{{ m.email }}</td>
                        <td>{{ m.edad }}</td>
                        <td>{{ m.sexo }}</td>
                        <td>{{ m.direccion }}</td>
                        <td>{{ m.num_cel }}</td>
                        <td><a href="seleccionarCliente/{{ m.id_cliente }}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarCliente/{{ m.id_cliente }}" class="btn btn-danger">Borrar</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div><!-- tabla responsiva -->
        </div><!-- columna derecha -->

    </div><!-- la fila-->
{% endblock %}
