{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
    <div class="row"><!-- la fila -->

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
            <h1> Registrador</h1>
            <div class="card"><!-- tarjeta -->
              <div class="card-body"> 
                <form action="/registrarRefaccion/" method="POST"> {% csrf_token %}<!-- formulario -->

                  <div class="form-group">
                    <input type="number" id="txtcodigo" name="txtcodigo" class="form-control"
                    placeholder="Codigo Refaccion" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Refaccion" maxLength="100" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="number" id="numcantidad" name="numcantidad" class="form-control"
                    placeholder="Cantidad Refaccion" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="number" step="0.01" id="numprecio" name="numprecio" class="form-control"
                    placeholder="Precio Refaccion" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtmarca" name="txtmarca" class="form-control"
                    placeholder="Marca Refaccion" maxLength="100" required >
                  </div>

                  <div class="form-group py-3">
                    <input type="number" id="numidprov" name="numidprov" class="form-control"
                    placeholder="ID Proveedor" required >
                  </div>

                  <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>

                </form> <!-- formulario -->
              </div>
            </div><!-- tarjeta -->
        </div><!-- columna izquierda -->
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!-- columna derecha -->
          <img class="w-50" src="{% static 'img/Refacciones.png' %}" width="400" height="400" alt="Refacciones">
            <h1>Listado de refacciones</h1>
            <div class="table-responsive"><!-- tabla responsiva -->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id Refaccion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Marca</th>
                        <th scope="col">ID Proveedor</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in misrefacciones %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.id_refaccion }}</td>
                        <td>{{ m.nombre_refaccion }}</td>
                        <td>{{ m.cantidad }}</td>
                        <td>{{ m.precio }}</td>
                        <td>{{ m.marca }}</td>
                        <td>{{ m.id_provedor }}</td>
                        <td><a href="seleccionarRefaccion/{{ m.id_refaccion }}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarRefaccion/{{ m.id_refaccion }}" class="btn btn-danger">Borrar</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div><!-- tabla responsiva -->
        </div><!-- columna derecha -->

    </div><!-- la fila-->
{% endblock %}
